<div class="flex h-screen mt-16">

    <!-- Left Section (30%) -->
    <div class="bg-gray-800 text-white w-64 p-4 scrollable">
        <!-- Your left content goes here -->
        <p class="text-2xl font-semibold mb-4">Admin Dashboard</p>
        <ul>

            <li class="mb-2" routerLink="/admin/category">
                <button
                    class="text-white bg-blue-700 w-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    Category
                </button>
            </li>

            <li class="mb-2">
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                    class="text-white bg-blue-700 w-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    Food
                </button>
            </li>

        </ul>
    </div>

    <!-- Right Section (70%) -->
    <div class="p-4 max-w-full">
        <!-- Your right content goes here -->

        <!-- category Componenet -->





      <app-category></app-category>






    </div>